<div class="container">
  <div class="main">
    <div class="row">
      <div class="travel_show">
        <div class="col-xs-10">
          <div class="top-body">
                <%= link_to @travel_path do %>
                <% end %>
              <p class="prodct-image">
                   <%= attachment_image_tag @travel, :picture, format:'jpeg', size:"250x250" %><br>
                   <% @travel.tags.each do |tag| %>
                  <span class="label label-primary"><%= tag.tag_name %></span>
               <% end %>
              </p>
                <div>
                        <p><%= @travel.name %><br></p>
                        <p><%= @travel.days %>日間<br></p>
                        <p><%= @travel.description %><br></p>
                        <p>¥<%= converting_to_jpy(@travel.price) %></p>
                </div>
                <%= link_to '予約に進む', new_customers_travel_booking_path(@travel.id) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>