<div class="container">
	<div class="main">
    <div class="row">
			<h1>ジャンル編集</h1>
			<%= form_for @genre, url: admins_travel_genre_path(@genre.id) do |f| %>
						<%= f.label :ジャンル %>
						<%= f.text_field :genre %>
						<%= f.radio_button :is_valid, true %>
						<%= f.label :is_valid, "有効", {style: "display: inline-block;"} %>
			  			<%= f.radio_button :is_valid, false %>
			  			<%= f.label :is_valid, "無効", {style: "display: inline-block;"} %>
						<%= f.submit '変更' %>
			<% end %>
		</div>
	</div>
</div>
