<!DOCTYPE html>
<html>
  <head>
    <title>SpaceBrothers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">


  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
            <%= link_to image_tag("title.jpg", size:'260x83'), "/" %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
              <li><%= link_to 'アバウト', about_path, class:"" %></li>
              <li><%= link_to 'マイページ', customers_mypage_path, class:"fas fa-user-cog" %></li>
              <li><%= link_to '旅行一覧', customers_travels_path, class:"fas fa-cookie" %></li>
              <li><%= link_to '予約一覧', customers_bookings_path, class:"fas fa-align-left" %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:"fas fa-sign-out-alt" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to '予約一覧', admins_bookings_path, class:"fas fa-align-left" %></li>
              <li><%= link_to '旅行一覧', admins_travels_path, class:"fas fa-cookie" %></li>
              <li><%= link_to '会員一覧', admins_customers_path, class:"fas fa-users" %></li>
              <li><%= link_to 'ジャンル一覧', admins_travel_genres_path, class:"fas fa-ice-cream" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"fas fa-sign-out-alt" %></li>
            <% else %>
              <li><%= link_to 'アバウト', about_path, class:"" %></li>
              <li><%= link_to '会員登録', '/customers/sign_up', class:"fas fa-user-plus" %></li>
              <li><%= link_to 'ログイン', new_customer_session_path, class:"fas fa-sign-in-alt" %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>


        <%= yield %>
        <p id="notice"><%= notice %></p>
      
  </body>
</html>
